@model IEnumerable<BeiBei.Models.OrderInfo>
@{
    ViewBag.Title = "Ordering";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div id="wrapper">
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        订单 <small>信息</small>
                    </h1>
                    <button class="btn btn-primary" onclick="location.href='/Order/AddOrder'">添加订单</button>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            订单信息
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>物品名称</th>
                                            <th>类别</th>
                                            <th>数量</th>
                                            <th>用户名</th>
                                            <th>回收员</th>
                                            <th>收钱方式</th>
                                            <th>收钱金额</th>
                                            <th>订单时间</th>
                                            <th>订单状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Oid</td>
                                                <td>@item.Oname</td>
                                                <td>@item.Cname</td>
                                                <td>@item.Onum</td>
                                                <td>@item.Uname</td>
                                                <td>@item.Collector_Name</td>
                                                <td>

                                                    @if (item.Owithdraw == 0)
                                                    {
                                                        @:<span style="color:red">支付宝</span>
                                                    }
                                                    else
                                                    {
                                                        @: <span style="color:red;">微信</span>
                                                    }
                                                </td>
                                                <td>@item.Omoney</td>
                                                <td>@item.Otime</td>

                                                <td>
                                                    @if (item.Ostatus == 3)
                                                    {
                                                        @:<span style="color:red;">待结账</span>  <button class="btn btn-success" onclick="Comfirm(@item.Oid)"><i class="layui-icon"></i>确认结账</button>
                                                    }
                                                    else if (item.Ostatus == 4)
                                                    {
                                                        @: <span style="color:red;">已结账</span>
                                                    }

                                                </td>
                                                <td><button class='btn btn-danger' onclick='Del(@item.Oid)'>删除</button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>


        </div>
    </div>

</div>

<script>


    function Comfirm(oid) {
        if (confirm("确定审核?")) {
            location.href = "/BeiBei/UpdOStatus?Oid=" + oid;
        }
    }
    function Del(oid) {
        if (confirm("确定删除吗?")) {
            location.href = "/BeiBei/DelOrder?Oid=" + oid;
        }
    }
</script>
